@import 'partials/base';

/* this is small screen*/


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
   .hero-content{
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        display: flex;
    }
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        font-size: 4em;
    }
    .main-container {
        display:flex;
        flex-direction: column;
    }

.sidebar{
    background-color:white;
}




/*this is for big screen */

@media screen and (min-width: 1024px){
    


.main-container {
    display: flex;
    flex-direction: row;
  
}

.post, .sidebar{
    flex: 1;
}

   
 .mixed-layout{
    display: flex;
 }
.first, .second {
    flex:1;
    flex-direction: row;
}
.second{
    display: flex;
}
.second-a, .second-b {
    display: flex;
    flex:1;
    flex-direction: row;
}

}