@import 'partials/base';

/* this is small screen*/

body{
    background-color:brown;
}
    div.hero-content{
        align-items: center;
        justify-content: space-around;
        flex-direction: column; justify-content: center;
        font-size: large;
    }
    
    nav {
        align-items: center;

        flex-direction: column; justify-content: space-evenly;
    
    }
    h1 {
        font-size: 45px;
    }






/*this is for big screen */

@media screen and (min-width: 1024px){
    

body{
    background-color: aqua;
}
    .hero-content {
        align-items: center ;
        justify-content: center;
        flex-direction: space-evenly;
     
    }
    h1 {
        font-size: 50px;
    }
}






