@import 'partials/base';

/* this is small screen*/

body{
    background-color:brown;
}
    div.hero-content{
        align-items: center;
        justify-content: space-around;
        flex-direction: column; justify-content: center;
        display: flex;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    h1 {
        font-size: 4em;
    }

.sidebar{
    background-color:white;
}





/*this is for big screen */

@media screen and (min-width: 1024px){
    

body{
    background-color: aqua;
}
    .hero-content {
        align-items: center ;
        justify-content: center;
        flex-direction: space-evenly;
       
     
    }
    h1 {
        font-size: 50px;
        font-size: 4em;
    }

.main-container{
    display: inline-flex;
    align-items: center;
   justify-content:space-evenly;
  
}
.post{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
 
}
.sidebar{
    flex-direction: column;
    flex-grow: 10;
   
    
}




.mixed-layout {
display: flex;
flex-direction: row;
justify-content: flex-start;
    
}

.first {
    display: flex;
    justify-content:space-evenly;
    min-width: 2px;
}
.second {
   
    flex-grow: 10;

}
}